@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.content{
    max-width: 1550px;
    margin: auto;
    padding: 0 30px;
    width: 100%;
    height: 100%;
}

/* NAV */
nav{
    display: flex;
    height: 80px;
    width: 100%;
    background: #102B3F;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
  }
  nav .logo{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
  }
  nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  nav ul li{
    margin: 0 5px;
  }
  nav ul li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  nav ul li a.active,
  nav ul li a:hover{
    color: #111;
    background: #fff;
  }
  nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  input[type="checkbox"]{
    display: none;
  }

/* HOME */
.home{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 170px 0 160px 0;
}

.home .content{
    display: flex;
    height: auto;
    justify-content: space-between;
}

.home .left{
    width: 60%;
}

.home .right{
    width: 40%;
}

.home .left h1{
    font-size: 70px;
    line-height: 1;
    color: #102B3F;
}

.home .left h2{
    font-size: 38px;
    color: #212F3D;
}

.home .right > div{
    padding-bottom: 30px;
}

.home .right .text p{
    color: #062726;
}

.home .right .info{
    display: flex;
}

.home .right .info p{
    padding-right: 20px;
    color: #EF6135;
}

.home .right .buttons{
    display: flex;
    align-items: center;
}

.home .right .buttons .get{
    padding: 10px;
    margin-right: 35px;
    border: none;
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
    background-color: #306887;
    transition: all .3s ease;
}

.home .right .buttons .get:hover{
    transform: scale(1.06);
}

.home .right .buttons .video{
    color: #102B3F;
}

.home .right .buttons .video i{
    padding: 10px;
    margin-right: 7px;
    color: #306887;
    border-radius: 50%;
    background-color: #cad8df;
    cursor: pointer;
    transition: all .3s ease;
}

.home .right .buttons .video i:hover{
    transform: scale(1.2);
}

/* APP */
.app-background{
    width: 100%;
    padding: 40px 0;
}

.app-background img{
    border-radius: 10px;
    width: 100%;
    transition: all .7s ease;
}

.app-background img:hover{
    box-shadow: 0 0 20px #000,
    10px 15px 0 #306887,
    -10px 15px 0 #306887;
    border: solid 3px #212F3D;
    transform: scale(1.06);
}

/* TECHNOLOGIES */
.technologies{
    padding: 70px 0 120px 0;
}

.technologies .title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.technologies .title h1{
    font-size: 34px;
    color: #212F3D;
}

.technologies .title h2{
    font-size: 22px;
    color: #292F36;
    font-weight: 300;
}

.wrapper{
    width: 100%;
    max-width: 1550px;
    margin: auto;
    padding: 0 30px;
}

.carousel .card{
    background: #306887;
    text-align: center;
    color: #fff;
    font-size: 70px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #306887;
}

/* SERVICES */
.service{
    padding-bottom: 30px;
}

.service .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.service .column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.service .left{
    padding-right: 80px;
}

.service .right{
    display: flex;
    flex-direction: row;
    flex: 1 1 1100px;
}

.service .right h1{
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 20px;
    color: #212F3D;
}

.service .right p{
    padding-bottom: 20px;
    color: #292F36;
}

.service .right .download{
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: #fff;
    background-color: #306887;
    cursor: pointer;
    transition: all .3s ease;
}

.service .right .download:hover{
    transform: scale(1.06);
}

.service .left .services-info{
    padding: 10px 0;
}

.service .left .services-content{
    display: flex;
    align-items: center;
}

.service .left .services-content .icon i{
    font-size: 30px;
    padding: 10px;
    margin-right: 20px;
    border-radius: 5px;
    color: #306887;
    background-color: #cad8df;
}

.service .left .services-content .text h1{
    font-size: 23px;
    font-weight: 400;
}

.service .left .services-content .text p{
    font-size: 13px;
}

.robot img{
    width: 450px;
}

/* VIDEO */
.preview{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.preview.active{
    display: flex;
}

.preview .video-content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.preview i{
    font-size: 40px;
    right: 0;
    color: #fff;
    cursor: pointer;
    transition: all .3s ease;
}

.preview i:hover{
    transform: scale(1.05);
    text-shadow: 2px 2px 1px red;
}

.preview .video-content video{
    position: relative;
    width: 60vw;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

@media (max-width: 1490px){
    .service .column{
        flex-direction: row;
    }

    .service .left{
        width: 100%;
        padding: 0 0 180px 0;
        justify-content: center;
        flex-wrap: wrap;
    }

    .service .left .services-info{
        padding-right: 40px;
    }
}
@media (max-width: 1000px){
    nav{
      padding: 0 40px 0 50px;
    }
  }
  @media (max-width: 1062px) {
    nav .menu-btn i{
      display: block;
    }
    #click:checked ~ .menu-btn i:before{
      content: "\f00d";
    }
    nav ul{
      position: fixed;
      top: 80px;
      left: -100%;
      background: #111;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;
      z-index: 1;
    }
    #click:checked ~ ul{
      left: 0;
    }
    nav ul li{
      width: 100%;
      margin: 40px 0;
    }
    nav ul li a{
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
      margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover{
      background: none;
      color: #306887;
    }
  }
@media (max-width: 983px){
    .home .content{
        flex-wrap: wrap;
    }

    .home .column{
        padding: 10px 0;
        flex: 1 1 500px;
    }
}
@media (max-width: 829px){
    nav .logo{
        font-size: 5vw;
    }
    .home .left h1{
        font-size: 7vw;
    }
    .home .left h2{
        font-size: 4vw;
    }
    .service .right{
        flex-wrap: wrap;
        justify-content: center;
    }
    .service .right p{
        flex: 0 0 400px;
    }
}